<?xml version="1.0" encoding="UTF-8" standalone="no"?><Settings><Resolution>1920x1080</Resolution><MaxFPS>120</MaxFPS><VSync>false</VSync><Fullscreen>false</Fullscreen><MainVolume>1.0</MainVolume><MusicVolume>0.08928572</MusicVolume><AmbientVolume>0.15357143</AmbientVolume><PlayerVolume>0.43928573</PlayerVolume><FriendlyVolume>0.99642855</FriendlyVolume><EnemyVolume>1.0</EnemyVolume></Settings>