<?xml version="1.0" encoding="UTF-8" standalone="no"?><Settings><Resolution>1024x768</Resolution><MaxFPS>60</MaxFPS><VSync>true</VSync><Fullscreen>false</Fullscreen><MainVolume>1.0</MainVolume><MusicVolume>1.0</MusicVolume><AmbientVolume>1.0</AmbientVolume><PlayerVolume>1.0</PlayerVolume><FriendlyVolume>1.0</FriendlyVolume><EnemyVolume>1.0</EnemyVolume><UpKey>W</UpKey><texturePack>texturePacks/default/assets.json</texturePack><soundPack>soundPacks/default/assets.json</soundPack></Settings>