<?xml version="1.0" encoding="UTF-8" ?>
<settings>
	<video>
		<maxfps>120</maxfps>
		<vsync>true</vsync>
		<fullscreen>false</fullscreen>
		<resolution>1920x1080</resolution>
		<showstats>true</showstats>
	</video>
	<sound>
		<main>1.0</main>
		<music>1.0</music>
		<ambient>1.0</ambient>
		<player>1.0</player>
		<enemy>1.0</enemy>
	</sound>
	<controls>
		<up>W</up>
		<down>S</down>
		<left>A</left>
		<right>D</right>
	</controls>
</settings>